

body {
  margin: 0;
  text-align: center;
  list-style-position: inside;
  background-image: url("../images/smashball.png");
  background-size: 2%;
  font-family: Verdana;
}

.navbar {
  display: flex;
  padding: 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}

.topnav {
  width: 100%;
  background-color: black;
  align-items: center;
  top: 0;
  justify-content: center;
}


.navitems {
  list-style-type: none;
  padding: 0;
  background-color: black;
}

.navitems li {
  display: inline;
}

.navitems li a {
  background-color: black;
  color: white;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.navitems li a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.title {
  margin: 0;
  padding: 7%;
  background-image: url("../images/smash_art.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title h1 {
  background-color: black;
  color: white;
  padding: 0;
  margin-left: 24%;
  margin-right: 24%;
}

h2 {
  background-color: gray;
  margin: 0%;
  margin-bottom: 5px;
  padding: 1%;
}

 .instructions{
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  background-color: lightblue;
  border: 5px solid lightgray;
  border-radius: 5px;
  margin: 0 auto;
 }

 .instructions li {
  padding-top: 10px ;
 }
.instructions img {
  margin-left: 30px;
  width: 60%;
  height: 40%;
}
